body {
    background-image: url(/img/sabota.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.botao1 {
    background-color: red;
    color: azure;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

